courseGenie_backEnd/docs/apidocs/ns0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0"
  
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="assessment">
 </xs:complexType>

<xs:complexType name="assessmentDTO" final="#all">
       <xs:sequence>
              <xs:element name="category" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="sectionId" type="xs:long" minOccurs="1">
              </xs:element>
              <xs:element name="shortName" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="name" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="maxPoints" type="xs:int" minOccurs="1">
              </xs:element>
              <xs:element name="assessmentId" type="xs:long" minOccurs="1">
              </xs:element>
              <xs:element name="clos" type="CLODTO" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
              <xs:element name="week" type="xs:int" minOccurs="1">
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:complexType name="benchmarkDTO" final="#all">
       <xs:sequence>
              <xs:element name="benchmarkType" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="benchmarkId" type="xs:long" minOccurs="1">
              </xs:element>
              <xs:element name="threshold" type="xs:int" minOccurs="1">
              </xs:element>
              <xs:element name="description" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="percentage" type="xs:int" minOccurs="1">
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:complexType name="bookDTO">
       <xs:sequence>
              <xs:element name="id" type="xs:long" minOccurs="0">
              </xs:element>
              <xs:element name="isbn" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="title" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="url" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="sectionIds" type="xs:long" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
              <xs:element name="requiredReading" type="xs:boolean" minOccurs="1">
              </xs:element>
              <xs:element name="suggestedReading" type="xs:boolean" minOccurs="1">
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:complexType name="CLODTO" final="#all">
       <xs:sequence>
              <xs:element name="cloId" type="xs:long" minOccurs="1">
              </xs:element>
              <xs:element name="description" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="name" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="courseId" type="xs:long" minOccurs="1">
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:complexType name="courseDTO" final="#all">
       <xs:sequence>
              <xs:element name="credits" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="code" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="name" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="clos" type="CLODTO" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
              <xs:element name="courseId" type="xs:long" minOccurs="1">
              </xs:element>
              <xs:element name="sections" type="sectionDTO" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
              <xs:element name="description" type="xs:string" minOccurs="0">
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:complexType name="gradeDTO" final="#all">
       <xs:sequence>
              <xs:element name="gradeId" type="xs:long" minOccurs="1">
              </xs:element>
              <xs:element name="studentId" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="assessmentId" type="xs:long" minOccurs="1">
              </xs:element>
              <xs:element name="score" type="xs:double" minOccurs="1">
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:complexType name="sectionDTO" final="#all">
       <xs:sequence>
              <xs:element name="sectionId" type="xs:long" minOccurs="1">
              </xs:element>
              <xs:element name="teachingMethodology" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="class_number" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="code" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="assessments" type="assessmentDTO" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
              <xs:element name="professorId" type="xs:long" minOccurs="1">
              </xs:element>
              <xs:element name="courseId" type="xs:long" minOccurs="1">
              </xs:element>
              <xs:element name="configured" type="xs:boolean" minOccurs="1">
              </xs:element>
              <xs:element name="term" type="xs:string" minOccurs="0">
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:complexType name="authQuery" final="#all">
       <xs:sequence>
              <xs:element name="password" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="username" type="xs:string" minOccurs="0">
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:complexType name="studentDTO" final="#all">
       <xs:sequence>
              <xs:element name="studentId" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="firstName" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="email" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="lastName" type="xs:string" minOccurs="0">
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:complexType name="syllabusDTO" final="#all">
       <xs:sequence>
              <xs:element name="syllabusId" type="xs:long" minOccurs="1">
              </xs:element>
              <xs:element name="content" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="sectionId" type="xs:long" minOccurs="1">
              </xs:element>
      </xs:sequence>
</xs:complexType>

</xs:schema>